#root {
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: minmax(50px, 1fr) minmax(100px, 3fr) minmax(50px, 1fr);
}

.info-wrapper {
  background-color: #1a1a1a;
  border-radius: 10px;
}

.info-button {
  width: 100%;
}

.info-button:hover {
  opacity: 90%;
}

.background-gradient {
  background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.info-header {
  padding: 0.5rem 0;
}

.calendar-activities-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calendar-activities-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.calendar-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 80px;
  margin: 1rem 0
}

.calendar-tile-date {
  padding-bottom: 0;
  margin-bottom: 0;
}

.calendar-cell:hover {
  background-color: #434344;
  border-radius: 5px;
}

.calendar-darker-day {
  opacity: 0.3;
}

.calendar-cell-name {
  width: 20%;
  margin-bottom: 2rem;
  color: cornflowerblue;
}

.tabs {
  justify-content: space-between;
}

aside {
  width: 100%;
  background-color: #535bf2;
  position: absolute;
  border-bottom-right-radius: 3rem;
  padding: 2rem;
  top: -80px;
  left: 0;
  transition: top 0.5s;
}

.aside-visual {
  width: 2rem;
  height: 2rem;
  background-color: chocolate;
  position: absolute;
  bottom: -1rem;
  right: 7rem;
  transform: rotate(45deg);
  transition: background-color 0.5s;
}

.aside-visual:hover {
  background-color: coral;
}

.aside-shown {
  top: 0
}

ul {
  padding: 0;
  display: grid;
  grid-gap: 0.5rem;
}

li {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  background-color: #434344;
  text-align: left;
}

li:hover {
  opacity: 0.7;
}

li > h3 {
  color: #535bf2;
  margin: 0;
}

li > p {
  margin: 0;
}

.hoveredLink {
  background-color: goldenrod;
  filter: brightness(80%);
}

.thing-color-tile {
  width: 20px;
}

.thing-content {
  padding: 0 1rem ;
}

.thing-delete {
  width: 1rem;
  height: 1rem;
  background-color: darkred;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  opacity: 0.7;
}

.thing-delete:hover {
  opacity: 1;
}

.week {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
