#root {
width: 100%;
height: 100vh;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {

  #root {
    height: 1800px;
  }
  
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  max-width: 1700px;
  width: 85%;
  background-color: var(--bg-secondary);
  border-radius: 35px;
  overflow: hidden;

  display: grid;
  grid-template-columns: minmax(50px, 1fr) minmax(100px, 4fr) ;
}


.panel-main {
  background-color: var(--bg-tertiary);
  padding: 2rem 2rem;
  border-radius: 35px;

  display: grid;
  grid-gap: 20px;

  grid-template-areas:
  "column calendar"
  "tasks tasks";

  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
}

@media (max-width: 960px) {
  .panel-main {
    display: flex;
    flex-direction: column;
  }
}



aside {
  padding: 1rem;
  color: var(--bg-primary);
}

nav {
  display: flex;
  flex-direction: column;
}

nav > a {
  display: flex;
  background-color: var(--bg-tertiary);
  border-radius: 10px;
  padding: 0.3rem;
  margin: 0 1rem 1rem 1rem;
  align-items: center;
  justify-content: center;
}

.things-wrapper {
  grid-area: tasks;

  background-color: var(--tl-bg-sand);
  border-radius: 35px;
  color: var(--bg-primary);
  padding: 1rem 1rem;
}

.things-wrapper > ul {
  display: grid;
  grid-template-areas:
  "t t t t"
  "t t t t";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
}


.thing-content > h2 {
  padding: 1rem;
}

.info-pannel {
  grid-area: column;
}


.thing-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  background-color: var(--bg-secondary);
}

.thing-dnd {
  border-radius: 15px;
  overflow: hidden;
}


.thing-dnd-hovered {
  border-radius: 15px;
  overflow: hidden;
  opacity: 0.7;
}

.icon-adjust {
  padding: 0 60px
}

.welcome-pannel {
  color: var(--bg-primary);
}

.info-wrapper {
  padding: 1.5rem 1rem;
  grid-area: calendar;
  background-color: #ADD8E6;
  border-radius: 10px;
  color: var(--bg-primary);
}

.current-thing-wrapper {
  background-color: var(--bg-secondary);
  padding: 2rem;
}

.maximize {
  width: 100%;
  height: 100%;
}

.info-button {
}

.info-button:hover {
  opacity: 90%;
}

.background-gradient {
  border-radius: 15px;
  background-color: var(--bg-primary);
}

.info-header {
  line-height: 1.5rem;
}


.calendar-activities-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calendar-activities-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.current-thing-header {
  padding-bottom: 1rem;
  flex-grow: 1;
}

.current-thing-wrapper-header {
  display: flex;
  flex-direction: row;
}

.calendar-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.logo-text {
  cursor: pointer;
}

.calendar-cell:hover {
  color: white
}



.calendar-cell:hover {
  background-color: var(--bg-primary);
  border-radius: 5px;
}

.calendar-darker-day {
  opacity: 0.3;
  z-index: 2;
}

.calendar-cell-name {
  width: 20%;
  color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs {
  justify-content: space-between;
}


.aside-visual {
  width: 2rem;
  height: 2rem;
  background-color: chocolate;
  position: absolute;
  bottom: -1rem;
  right: 7rem;
  transform: rotate(45deg);
  transition: background-color 0.5s;
}

.aside-visual:hover {
  background-color: coral;
}

.aside-normal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aside-shown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0
}


.hoveredLink {
  background-color: goldenrod;
  filter: brightness(80%);
}

.thing-color-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.thing-content {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  padding: 0 1rem ;
}

.thing-delete {
  width: 1rem;
  height: 1rem;
  background-color: darkred;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  opacity: 0.7;
}

.thing-delete:hover {
  opacity: 1;
}

.thing-timer {
  display: flex;
  align-items: center;
  padding: 10px;
}


.week {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.timerbutton-wrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9a9ae1;
  cursor: pointer;
}

/*
  Animations
 */

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(100px);
  }
  to {
    transform: rotate(360deg) translateX(100px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .moon {
    animation: orbit 6000ms linear infinite;
  }
}

.planet{
  width: 190px;
  height: 190px;
  background: dodgerblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.planet:hover {
  background-color: #41dfff;
  transition: background-color 0.1s ease-in;
}

.moon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  background: silver;
  border-radius: 50%;
}

.timer-planet-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.focusable {
  tab-index: 0;
}


.month-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.7rem;
}


.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.center {
  justify-content: center;
  padding: 3rem 0;
}

.logo-text {
  margin: 0;
  font-size: 2rem;
  padding-left: 1rem;
}

.pad {
  margin-right: 2rem;
}

.modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(234,123,123, 0.5);
}

.modal {
  padding: 3rem;
  background-color: var(--bg-secondary);
  height: 100%;
}

.modal-header {
  padding-bottom: 1rem;
}

.panel-wrapper {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: minmax(50px, 1fr) minmax(50px, 1fr);
}

@media (max-width: 300px) {
  .panel-wrapper {
    grid-template-columns: minmax(50px, 1fr);
  }
}

.visual-adjust {
  position: relative;
  top: -4px;
}

.ex-button {
  width: 100%;
  border-radius: 15px;
}

.thing-links-list {
  height: 200px;
  overflow: auto;
}

.thing-links-list > li {
  padding: 0.2rem 0.2rem;
  background-color: transparent;
  border-bottom: 1px solid var(--bg-primary);
}

.thing-links-list > li > a {
  color: var(--bg-primary);
}

.ex-button:hover {
  opacity: 90%;
}

h2 {
  padding: 0;
  margin: 0;
}

h3 {
  margin: 0;
}
